@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}


.App {
  text-align: center;
  font-family: 'Bebas Neue';
  color: rgb(225, 225, 225);
}

.word-scrambler {
  color: rgb(225, 225, 225);;
}
  
.word-scramble-container {
  height: 20rem;
}

.word-div {
  height: 20rem;
  width: 20rem;
}

input {
  font-family: 'Bebas Neue';
  background-color: rgb(225, 225, 225);
  color: rgb(20, 20, 20);
  border: none;
  border-radius: .5em;
  margin: .5em;
  height: 1.5em;
  width: 10em;
}

input:focus {
    outline: none;
}

input::placeholder {
  text-align: center;
    color: black;
}

.btn {
  font-family: 'Bebas Neue';
  background-color: rgb(225, 225, 225);
  border: none;
  border-radius: .75em;
  color: rgb(20, 20, 20);
  margin: .25em;
  height: 1.5em;
}

.btn:hover {
  background-color: rgb(112, 0, 0);
  color: rgb(225, 225, 225);
}

.words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 1.5em;
}


